
    /* default element resets: */
    * { margin: 0; padding: 0; }
    ul, ol { padding: 0 2.5em; }
    sub, sup { font-size: 0.8em; }
    h1 { font-size: 2em; }
    h2 { font-size: 1.5em; }
    h3 { font-size: 1.25em; }
    h4 { font-size: 1em; }
    img { display: block; object-fit: contain; }
    ul { list-style-type: disc; }
    ol ul, ul ul, ol ol, ul ol { padding: 0 0 0 2.5em; }
    ol ol { list-style-type: lower-alpha; }
    ol ol ol { list-style-type: lower-roman; }
    ol > li { padding-left: 0.15em; margin-left: -0.15em; }
    hr { border: none; height: 1px; width: 100%; margin: 1rem 0; background-color: var(--grey-c,grey); }
    table { border-collapse: collapse; }
    td { vertical-align: top; }
    a { color: inherit; text-decoration: none; text-underline-offset: 2px; }
    a:hover { text-decoration: underline; }
    input, select { font-family: Segoe UI, Nirmala UI, system-ui, sans-serif; }
    textarea { border: 1px solid var(--grey-c); }

    :root {
        /* layout dimensions */
        --main-width: 925px;
        --header-height: 112px;
        --nav-height: 40px;
        --toc-width: 232px;
        --left-width: 312px;
        --article-side-pad: 44px;
        --page-top-pad: 44px;
        --right-width: 294px;
        --gallery-image-width: 340px;
        --article-grid-gap: 16px;
        --quarter-grid: calc(0.245 * calc(var(--main-width) - calc(3 * var(--article-grid-gap))));
        --square-gallery-grid: var(--quarter-grid);
        --yt-gallery-grid: var(--quarter-grid);
        /* font-family */
        --ff-ui: Segoe UI, Nirmala UI, system-ui, sans-serif;
        --ff-nav: Trebuchet MS, Segoe UI, Nirmala UI, system-ui, sans-serif;
        --ff-heading: Inter, Roboto, Segoe UI, Nirmala UI, system-ui, sans-serif;
        --ff-article: Georgia Pro Digits, Georgia, Segoe UI, Nirmala UI, system-ui, sans-serif;
        --ff-secondary: Roboto, Segoe UI, Nirmala UI, system-ui, sans-serif;
        --ff-monospace: Consolas, monospace;
        --ff-mdash: Segoe UI, Nirmala UI, system-ui, sans-serif;
        --ff-lb-caption: Roboto, Segoe UI, Nirmala UI, system-ui, sans-serif;
        /* font-size */
        --fs-ui: 14px;
        --fs-article-1: 15.4px;
        --fs-article-2: 15px;
        --fs-article-3: 14px;
        --fs-cite: 0.85em;
        /* line height */
        --lh-article-1: 1.7;
        --lh-article-2: 1.6;
        /* colors */
        --page-bg: #fff;
        --article-bg: var(--page-bg);
        --menu-bg: #fafafa;
        --header-bg: #fff;
        --nav-bg: #333;
        --nav-border: #404040;
        --nav-color: #808080;
        --left-color-1: #616161;
        --left-color-2: #464646;
        --grey-1: hsl(0, 0%, 7%);
        --grey-2: hsl(0, 0%, 14%);
        --grey-3: hsl(0, 0%, 20%);
        --grey-4: hsl(0, 0%, 26%);
        --grey-5: hsl(0, 0%, 33%);
        --grey-6: hsl(0, 0%, 38%);
        --grey-7: hsl(0, 0%, 44%);
        --grey-8: hsl(0, 0%, 50%);
        --grey-9: hsl(0, 0%, 60%);
        --grey-a: hsl(0, 0%, 65%);
        --grey-c: hsl(0, 0%, 80%);
        --grey-e: hsl(0, 0%, 90%);
        --grey-f: hsl(0, 0%, 97%);
        --c-white: hsl(0, 0%, 100%);
        --blockquote-accent: hsl(220, 22%, 48%);
        --link-color: hsl(215, 45%, 45%);
        --c-mark: #fea;
        --selection-color: #333333;
        --selection-bg: #cddffb;
        --switch-active-bg: #5b606f;
        --switch-active-check: #fff;
        --codeblock-mark: #fff0c0;
        /* for syntax highlighting */
        --c-code-blue: #475fa8;
        --c-code-orange: #ae7223;
        --c-code-purple: #856597;
        --c-code-grey: #808080;
        --c-code-green: #5b845b;
        --c-code-red: #a66;
        /* for text, borders, etc. */
        --c-red: hsl(0, 50%, 44%);
        --c-blue: hsl(230, 40%, 46%);
        --c-green: hsl(118, 65%, 30%);
        --c-iris: hsl(252, 55%, 60%);
        --c-gold: hsl(45,100%, 32%);
        /* colours for backgrounds */
        --c-bg-lightblue: #def;
        --c-bg-lightgreen: #dff2df;
        --c-bg-lightred: #fdd;
        --c-bg-lightyellow: hsl(50, 100%, 90%);
        --c-bg-cream: #f4efe6;
        /* svg colors */
        --c-github: #3c3c3c;
        --c-bluesky: #63aef9;
        --c-tumblr: #393979;
        --c-tumblr-white: #fff;
        --c-youtube-red: #c33c3c;
        --c-youtube-white: #fff;
        --c-twitter: #111;
        --c-discord: #6d75cc;
        --c-substack: #d9803f;
        /* letter-spacing? */
        --ls-bold-1: -0.1px;
        --ls-bold-2: -0.1px;
    }
    html.dark {
        --page-bg: #2a2b2d;
        --article-bg: #2a2b2d;
        --menu-bg: #303133;
        --header-bg: #121315;
        --nav-bg: #151617;
        --nav-color: #666;
        --nav-border: #393939;
        --left-color-1: #aaa;
        --left-color-2: #aaa;
        --grey-2: hsl(220, 1%, 70%);
        --grey-3: hsl(220, 1%, 63%);
        --grey-4: hsl(220, 1%, 60%);
        --grey-5: hsl(220, 1%, 57%);
        --grey-6: hsl(220, 1%, 54%);
        --grey-7: hsl(220, 1%, 50%);
        --grey-8: hsl(220, 1%, 45%);
        --grey-9: hsl(220, 1%, 40%);
        --grey-a: hsl(220, 1%, 35%);
        --grey-c: hsl(220, 1%, 30%);
        --grey-e: hsl(220, 1%, 22%);
        --grey-f: hsl(220, 1%, 20%);
        --c-white: hsl(220, 1%, 15%);
        --blockquote-accent: hsl(220, 18%, 37%);
        --link-color: hsl(215, 30%, 58%);
        --c-mark: #feb2;
        --selection-color: #a4a4a4;
        --selection-bg: #4c4f5b;
        --switch-active-bg: #3a4153;
        --switch-active-check: #bbb;
        --codeblock-mark: #fe92;
        /* for syntax highlighting */
        --c-code-blue: #8798c1;
        --c-code-orange: #bd8b49;
        --c-code-purple: #987ba8;
        --c-code-green: #5f825f;
        --c-code-grey: #808080;
        --c-code-red: #b06f6f;
        /* text colours */
        --c-red: hsl(0, 36%, 52%);
        --c-green: hsl(118, 25%, 37%);
        --c-blue: hsl(230, 34%, 58%);
        --c-gold: hsl(40, 32%, 50%);
        --c-iris: hsl(252, 32%, 50%);
        /* colours for backgrounds */
        --c-bg-lightblue: #79f2;
        --c-bg-lightgreen: #42ca421c;
        --c-bg-lightred: #ea343429;
        --c-bg-lightyellow: #ffe14c2e;
        --c-bg-cream: #fbe3bb14;
        /* svg colors */
        --c-github: #685c91;
        --c-bluesky: #5886b5;
        --c-tumblr: #444480;
        --c-tumblr-white: #fff;
        --c-youtube-red: #b13a3a;
        --c-youtube-white: #e6e6e6;
        --c-twitter: #aaa;
        --c-discord: #5767bf;
        --c-substack: #ca7c42;
    }
    /* JavaScript adds .layout class to document element, so :not(.layout) means if layout.js fails to load */
    html:not(.layout) {  }
        html:not(.layout) body { font-family: monospace; margin: 2em 3em; white-space: pre-wrap; line-height: 1.3; }
            html:not(.layout) .navbar { display: none; }

    html.layout { font-size: 14px; scroll-padding-top: calc(var(--nav-height) + 30px); color: var(--grey-3); scrollbar-color: var(--grey-a) var(--grey-f); background-color: var(--page-bg); padding: 0; min-width: 350px; min-height: 100vh; line-height: 1.4; font-family: Segoe UI, Nirmala UI, system-ui, sans-serif; }
        html.layout body { background-color: inherit; min-height: 100vh; margin: 0; }

    /* optional style switches */
    :not(.full-width).narrow-width { --main-width: 640px; }
    html.full-width .page-grid { grid-template-columns: min-content minmax(0, 1fr) }
        html.full-width .main-container { max-width: unset; }
            html.full-width .article { max-width: unset; }
    html.justify-text .article { text-align: justify; }
    html.indent-text .article > p:not(.fine) { text-indent: 2.5em; }
    html.reduce-margins .article > p + p:not(.fine) { margin-top: 0.05em; }
    html.layout.text-larger {
        --fs-article-1: 13pt;
        --fs-article-2: 12pt;
        --fs-article-3: 11pt;
    }

    @media (hover: none) and (pointer: coarse) {
        body {
            --main-width: 100%;
        }
    }
    @media (max-width: 1050px) {
        #toc { display: none; }
    }

    ::selection { background-color: var(--selection-bg); color: var(--selection-color); }
    .no-select { user-select: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; }
    .text-select { -webkit-user-select: text; -moz-user-select: text; -ms-user-select: text; user-select: text; }
    .icon { object-fit: contain; background-repeat: no-repeat; background-size: contain; background-position: center; }
    .hidden { display: none !important; }

    .gap-em { display: flex; gap: 1em; } .gap-rem { display: flex; gap: 1rem; } .gap-1 { display: flex; gap: 1px; } .gap-2 { display: flex; gap: 2px; } .gap-3 { display: flex; gap: 3px; } .gap-4 { display: flex; gap: 4px; } .gap-5 { display: flex; gap: 5px; } .gap-6 { display: flex; gap: 6px; } .gap-7 { display: flex; gap: 7px; } .gap-8 { display: flex; gap: 8px; } .gap-9 { display: flex; gap: 9px; } .gap-10 { display: flex; gap: 10px; } .gap-11 { display: flex; gap: 11px; } .gap-12 { display: flex; gap: 12px; } .gap-13 { display: flex; gap: 13px; } .gap-14 { display: flex; gap: 14px; } .gap-15 { display: flex; gap: 15px; } .gap-16 { display: flex; gap: 16px; } .gap-17 { display: flex; gap: 17px; } .gap-18 { display: flex; gap: 18px; } .gap-19 { display: flex; gap: 19px; } .gap-20 { display: flex; gap: 20px; } .gap-21 { display: flex; gap: 21px; } .gap-22 { display: flex; gap: 22px; } .gap-23 { display: flex; gap: 23px; } .gap-24 { display: flex; gap: 24px; } .gap-25 { display: flex; gap: 25px; } .gap-26 { display: flex; gap: 26px; } .gap-27 { display: flex; gap: 27px; } .gap-28 { display: flex; gap: 28px; } .gap-29 { display: flex; gap: 29px; } .gap-30 { display: flex; gap: 30px; } .gap-31 { display: flex; gap: 31px; } .gap-32 { display: flex; gap: 32px; }
    .flex { display: flex; }
    .wrap { display: flex; flex-wrap: wrap; }
    .flex-end { display: flex; justify-content: flex-end; }
    .center { display: flex; justify-content: center; }
    .space-between { display: flex; justify-content: space-between; }
    .space-evenly { display: flex; justify-content: space-evenly; }
    .reverse { display: flex; flex-direction: row-reverse; }
    .column-reverse { display: flex; flex-direction: column-reverse; }
    .column { display: flex; flex-direction: column; }
    .align-center { display: flex; align-items: center; }
    .align-baseline { display: flex; align-items: baseline; }
    .align-end { display: flex; align-items: flex-end; }
    .align-stretch { display: flex; align-items: stretch; }
    .pseudo-link { cursor: pointer; }
    .fade-out { opacity: 0; transition: opacity 0.7s 0.4s !important; }

    .flat-button { cursor: pointer; padding: 4px 8px; background-color: var(--article-bg); border: 1px solid var(--grey-c); display: inline-flex; align-items: center; gap: 4px; vertical-align: middle; color: var(--grey-5); line-height: 1.4; }
    .flat-button, .flat-button *, .flat-button a { text-decoration: none !important; }
    .flat-button:hover { border-color: var(--grey-9); }
    .flat-button:active { outline: 1px solid var(--link-color); }

    .navbar { line-height: 1; display: flex; align-items: center; justify-content: space-between; gap: 1rem; font-family: var(--ff-nav); color: var(--grey-8); z-index: 2; background-color: var(--nav-bg); position: sticky; top: 0px; }
        .navbar a:hover { filter: brightness(1.2); }
        .navbar .icon:hover { opacity: 0.6; }
            .nav-segment { transition: height 0.4s; height: var(--nav-height); display: flex; align-items: center; gap: 8px; }
            .nav-left { padding: 0 14px 0 4px; }
            .nav-right { padding: 0 4px 0 14px; }
            .icon { opacity: 0.75; cursor: pointer; padding: 3px; }
            .icon svg { height: inherit; width: inherit; }
            .hamburger { height: 28px; width: 36px; }
            .page-name-display { text-overflow: ellipsis; white-space: nowrap; overflow-x: hidden; display: inline-block; overflow-inline: clip; }
            .navbar .jump-to-top { opacity: 0; pointer-events: none; transition: opacity 0.8s; }
            .navbar.sticky-active .jump-to-top { opacity: 1; cursor: pointer; pointer-events: auto; }
            .gear.icon { padding: 3px; height: 28px; width: 32px; }
    .static-nav .navbar { position: static; }
        .static-nav .navbar.sticky-active .nav-right { position: fixed; opacity: 0; right: 0; top: 0; }
        .static-nav .navbar.sticky-active .nav-right:hover { opacity: 1; }
        .static-nav #toc { top: 0; }
        .static-nav .right-panel { border-top: 1px solid var(--grey-c); margin-top: -1px; }

    .left-panel.closed { opacity: 0; transform: translate(0); pointer-events: none; }
    .left-panel { box-sizing: border-box; width: var(--left-width); height: calc(100vh - var(--nav-height)); background-color: var(--grey-f); z-index: 3; top: var(--nav-height); left: calc(0px - var(--left-width)); position: fixed; border-top: none; padding: 1.25em 1.5em 2.25em; color: var(--left-color-1); overflow: hidden; transition: transform 0.3s, opacity 0.3s; transform: translate(var(--left-width)); scrollbar-width: thin; scrollbar-gutter: stable; }
        .left-panel:hover { overflow: auto; }
        .left-panel .nav-row.page-title { font-weight: 700; font-family: var(--ff-nav); color: var(--left-color-2); }
        .left-panel .nav-row.page-title { padding-left: 0; }
        .left-panel .nav-row { padding-left: 0.6em; }
        .left-panel .nav-row + .nav-row { margin-top: 0.9em; }
        .left-panel .nav-row + .nav-row.page-title { margin-top: 1em; }
        .left-panel .nav-row a { display: flex; align-items: center; gap: 5px; }
        .left-panel .nav-row a svg { transform: translateY(1px); }

    .left-panel.closed + .screen { display: none; }
        .screen { z-index: 1; position: fixed; left: 0; top: 0; height: 100vh; width: 100vw; background-color: #0004; }

    .right-panel.closed { opacity: 0; transform: translate(0); pointer-events: none; }
    .right-panel { line-height: 1.15; box-sizing: border-box; z-index: 2; top: var(--nav-height); right: calc(0px - var(--right-width)); position: fixed; background-color: var(--menu-bg); max-width: var(--right-width); border: 1px solid var(--grey-c); border-top: none; max-width: var(--right-width); padding: 14px; opacity: 1; transform: translateX(calc(0px - var(--right-width))); transition: transform 0.1s, opacity 0.1s; }
        .right-panel > div { display: flex; align-items: center; justify-content: space-between; gap: 8px; }
        .right-panel > div + div { margin-top: 12px; }
        .right-panel p + p { margin-top: 0.5em; }
        .right-panel a { text-decoration: 1px dotted underline var(--grey-a); }
        .right-panel hr { margin: 13px 0; background-color: var(--grey-c); }
        .right-panel h3 { font-size: 1em; font-family: var(--ff-nav); color: var(--grey-4); }
        .right-panel label { max-width: 210px; padding-left: 9px; color: var(--grey-5); text-align: right; margin-left: auto; }
        .drop-select { width: 145px; height: 27px; margin-block: -2px; border: 1px solid var(--grey-a); background-color: var(--c-white); color: var(--grey-3); padding: 1px 4px; }
            .slide-checkbox { appearance: none; cursor: pointer; width: 30px; min-width: 30px; height: 17px; color: var(--grey-c); border: 1px solid var(--grey-c); background-color: var(--c-white); display: inline-flex; align-items: center; padding: 4px 4px; border-radius: 50px; transform: translateY(1px); }
            .slide-checkbox:hover, label:hover + .slide-checkbox { outline: 1px solid var(--grey-a); }
            .slide-checkbox:checked { color: var(--switch-active-check); background-color: var(--switch-active-bg); border-color: var(--grey-a); }
                .slide-checkbox::after { transition: transform 0.25s ease; display: block; content: ""; border-radius: 50%; height: 9px; width: 9px; background-color: currentcolor; }
                .slide-checkbox:checked::after { transform: translateX(11px); }

    .page-grid { background-color: var(--page-bg); }
    .load-toc .page-grid {
        display: grid;
        grid-template-columns: min-content minmax(0, 1fr) clamp(
            0px,
            calc(0.2 * calc(100vw - var(--article-side-pad) - var(--article-side-pad) - var(--main-width) - var(--toc-width))),
            calc(0.5 * var(--main-width))
            );
    }
    .hide-toc .page-grid { display: unset !important; }

        .main-container { grid-column: 2; max-width: var(--main-width); margin: 0 auto; padding: var(--page-top-pad) var(--article-side-pad) 80px; background-color: var(--article-bg); }

                .hide-toc #toc { display: none !important; }
                #toc { font-family: var(--ff-ui); width: var(--toc-width); padding: 1.15em 1.25em 2.25em; height: calc(100vh - var(--nav-height)); box-sizing: border-box; position: sticky; top: var(--nav-height); scrollbar-gutter: stable; color: var(--grey-8); scrollbar-color: var(--grey-a) var(--grey-f); overflow: hidden; scrollbar-width: thin; }
                #toc:hover { overflow: auto; }
                    .toc-title { font-weight: 600; color: var(--grey-5); }
                    .toc-row { margin-top: 10px; }
                    .toc-row.h1 { padding-left: 0rem; }
                    .toc-row.h2 { padding-left: 1rem; }
                    .toc-row.h3 { padding-left: 2em; }
                        .toc-row.active-heading a { color: var(--grey-3); }
                            .toc-row a { color: inherit; }
                            .toc-row a:hover { color: var(--grey-5); }

        .article-top { font-size: var(--fs-article-1); display: flex; flex-direction: column; gap: 1.15rem; line-height: 1.4; margin-bottom: 2rem; border-bottom: 1px solid var(--grey-e); padding-bottom: 1rem; }
            .article-top h1 { color: var(--grey-2); font-weight: 600; font-size: 2.75em; font-family: var(--ff-heading); line-height: 1.15; }
            .article-top h2 { font-weight: 500; font-size: 1.333em; font-family: var(--ff-article); color: var(--grey-6); }
            .article-date { font-family: var(--ff-ui); color: var(--grey-8); }
                .see-also-container { display: flex; align-items: center; font-size: var(--fs-article-3); gap: 1.25em; }
                    .see-also { display: flex; align-items: center; gap: 0.3em; padding: 0.15em 0; color: var(--grey-5); }

        .article { font-family: var(--ff-article); max-width: var(--main-width); line-height: var(--lh-article-1); font-size: var(--fs-article-1); }
            .article > :first-child { margin-top: 0 !important; }
            .article > :nth-child(n + 2) { margin-top: 1em; }

            .article h1, .article h2, .article h3, .article h4, .article h5, .article h6 { clear: both; margin-block: 1em 0.5em; }
            .article h1, .article h2, .article h3 { font-family: var(--ff-heading); color: var(--grey-2); }
            .article h1 { line-height: 1.3; }
            .article h2 { line-height: 1.4; }
            .article h3 { line-height: 1.5; }
            .article h4, .article h5, .article h6 { font-size: inherit; font-family: inherit; line-height: var(--lh-article-2); }
            .article h4 { font-weight: 700; letter-spacing: var(--ls-bold-1); }
            .article h5, .article h6 { font-weight: 400; letter-spacing: 0.25px; }

            .article b { letter-spacing: var(--ls-bold-1); }
            .article .drop-cap::first-letter { float: left; font-size: 3em; padding: 0.15em 0.2em 0.1em }

            .article .text-red { color: var(--c-red); }
            .article .text-blue { color: var(--c-blue); }

            .article mark { background-color: var(--c-mark); color: inherit; }
            .article figcaption { line-height: 1.4; }
            .article figcaption b { font-weight: 600; }

            .auto-list { }
            .auto-list li { margin-top: 0.66em;  }
            .auto-list ol + li,
            .auto-list ul + li { margin-top: 0.85em; }
            .auto-list p { margin-top: 0.33em; }
            .auto-list br { margin-bottom: 0.33em; }

            .article a { color: var(--link-color); }
            .article a:hover { text-decoration: 1px solid underline currentcolor; }
            .article sup { vertical-align: super; line-height: 1; }
            .article sup a { vertical-align: top; font-size: 0.8em; margin-left: 1px; letter-spacing: 0.5px; }
            .article sup a::before { content: "\00A0"; font-size: 0.1px; }
            .article sub { vertical-align: sub; line-height: 1; }

            .article .fine, .article .fine *, .article .fine ::marker { color: var(--grey-6); font-size: var(--fs-article-3); font-family: var(--ff-ui); line-height: var(--lh-article-2); }
                .article .fine a { text-decoration: 1px dotted underline var(--grey-a); }
                .article .fine + .fine { margin-top: 0.5rem; }
                .article .fine li + li { margin-top: 0.3em; }

            .article .info { line-height: var(--lh-article-2); max-width: var(--main-width); padding: 0.5em 0.75em; margin-inline: auto; font-family: var(--ff-secondary); background-color: var(--c-bg-lightgreen); font-size: var(--fs-article-2); }
            .rows .row { display: flex; justify-content: space-between; gap: 10px; padding: 4px 0px 2px; }
            .article .mdash { margin-inline: 1px; font-family: var(--ff-mdash); line-height: 1; }

            .article code { background-color: var(--grey-f); vertical-align: baseline; line-height: 1; padding-inline: 2px; font-family: var(--ff-monospace); letter-spacing: -0.3px; font-size: var(--fs-article-3); white-space: pre-wrap; }
            .article code * { font-size: inherit !important; font-family: inherit !important; }
            .codeblock { background-color: var(--grey-f); white-space: pre-wrap; font-family: var(--ff-monospace); padding: 1em 0.75em; line-height: 1.25; font-size: var(--fs-article-3); margin-top: 1.2em !important; }
                .codeblock mark { background-color: var(--codeblock-mark); }
                .codeblock .code-number { color: var(--c-code-orange); }
                .codeblock .code-keyword { color: var(--c-code-blue); }
                .codeblock .code-cust-keyword { color: var(--c-code-purple); }
                .codeblock .code-string *,
                .codeblock .code-string { color: var(--c-code-red); }
                .codeblock .code-comment { color: var(--c-code-green); }
                .codeblock .code-macro { color: var(--c-code-grey); }
                    .codeblock .code-comment * { color: inherit !important; }
                    .codeblock .code-macro * { color: inherit !important; }

            .article > blockquote { background-color: var(--grey-f); border-bottom: 1px solid var(--grey-e); line-height: var(--lh-article-2); margin-inline: 1px; padding: 14px 19px 13px; border-left: 2px solid var(--blockquote-accent); color: var(--grey-4); margin-left: 0.3em; }
                .article > blockquote > :first-child { margin-top: 0; }
                .article > blockquote > p:nth-child(n+2) { margin-top: 0.5em; }
                .article > blockquote .attribution { text-align: right; }

            .auto-video { background-color: var(--grey-1); }
                .auto-video video { display: block; margin-inline: auto; }

            .table-wrapper { text-align: left; font-family: var(--ff-secondary); line-height: var(--lh-article-1); }
            .table-wrapper b { letter-spacing: var(--ls-bold-2); }

            .auto-table { border-collapse: collapse; }
                .auto-table th,
                .auto-table td { padding: 0.4em 0.5em; vertical-align: top; }
                .auto-table blockquote { line-height: inherit; padding: 0.3em 0.5em; margin-top: 0.25em; }
                .auto-table blockquote + p { margin-top: 0.25em; }
                .auto-table blockquote + blockquote { margin-top: -0.15em; padding-top: 0; }

            .auto-rows { }
                .auto-rows .row { display: flex; justify-content: space-between; gap: 1em; }

            .yt-gallery { display: grid; grid-template-columns: repeat(auto-fit, minmax(var(--quarter-grid), 1fr)); gap: 0.5em var(--article-grid-gap); }
                .yt-gallery figure { width: 100%; margin: 0 auto; }
                    .yt-gallery img { background-color: var(--grey-e); width: 100%; object-fit: cover; aspect-ratio: 16 / 8.9; border: 1px solid var(--grey-a); box-sizing: border-box; }
                    .yt-gallery figcaption { margin-top: 0.3em; }
                        .yt-title { }
                        .yt-date { color: var(--grey-8); }

            .article img { cursor: pointer; }

            .image-float { max-width: var(--quarter-grid); clear: both; margin-bottom: 1em; margin-left: 1em; float: right; gap: 1em; display: flex; flex-direction: column; }
            .image-float.float-left { float: left; margin-left: 0; margin-right: 1em; }
                .image-float figure { padding: 8px; border: 1px solid var(--grey-c); background-color: var(--page-bg); }
                    .image-float img { box-sizing: border-box; margin: auto; max-width: 100%; }
                    .image-float figcaption { text-align: center; margin-top: 5px; font-family: var(--ff-secondary); font-size: var(--fs-article-3); color: var(--grey-6); }

            .image-span { max-width: 100%; gap: 8px; overflow: hidden; display: flex; justify-content: space-evenly; align-items: center; }
            .article .image-span + .image-span { margin-top: 8px; }
                .image-span img { width: inherit; max-width: 100%; max-height: 100%; }

            .captioned-gallery { display: flex; max-width: 100%; gap: 8px; overflow: hidden; align-items: baseline; flex-wrap: wrap; justify-content: space-evenly; }
                .captioned-gallery figure { max-width: var(--gallery-image-width); }
                    .captioned-gallery img { margin: 0 auto; box-sizing: border-box; border: 1px solid var(--grey-a); max-width: 100%; max-height: 100%; }
                    .captioned-gallery figcaption { text-align: center; padding: 5px; font-family: var(--ff-secondary); color: var(--grey-8); font-size: var(--fs-article-2); }

            .square-gallery { display: grid; grid-template-columns: repeat(auto-fit, minmax(var(--square-gallery-grid), 1fr)); gap: 0.75rem var(--article-grid-gap); }
                .square-gallery figure { }
                    .square-gallery .img-wrapper { margin: 0 auto; height: var(--square-gallery-grid); border: 1px solid var(--grey-c); aspect-ratio: 1; display: flex; justify-content: center; align-items: center; }
                        .square-gallery img { max-width: 88%; max-height: 88%; border: 1px solid var(--grey-c); }
                    .square-gallery figcaption { text-align: center; max-width: var(--square-gallery-grid); margin: 5px auto; font-family: var(--ff-secondary); color: var(--grey-5); font-size: var(--fs-article-3); }

        .article-footer { font-size: var(--fs-article-3); clear: both; padding-top: 2em; margin-top: 3em; color: var(--grey-7); line-height: 1.5; display: flex; flex-direction: column; border-top: 1px solid var(--grey-c); }
            .citelist, .citelist td { padding-top: 0.25em; }
            .citelist td:first-child { text-align: right; padding-right: 0.4em; padding-left: 0.6em; }
            .article-footer > div + div { margin-top: 1em; }

    .lb-enabled { overflow: hidden; }
    .lb-enabled .lb-container { display: flex; }
    .lb-container { z-index: 4; color: #808080; height: 100vh; width: 100%; background-color: #000c; position: fixed; left: 0; top: 0; display: none; align-items: stretch; flex-direction: column; justify-content: space-between; }
        .lb-top-left { padding: 10px; background-color: #000; font-family: var(--ff-ui); font-size: 1rem; }
        .lb-wrapper { overflow: hidden; flex-grow: 1; display: flex; justify-content: center; align-items: center; }
            .lightbox { object-fit: contain; max-width: 100%; max-height: 100%; }

        .lb-bottom-panel { background-color: #000; display: flex; justify-content: center; align-items: center; }
            .lb-caption { padding: 20px; margin: 0 auto; font-family: var(--ff-lb-caption); font-size: 1.1rem; max-width: var(--main-width); }



