
    :root {
        /* layout dimensions */
        --header-height: 112px;
        --ribbon-height: 28px;
        --nav-height: 37px;
        --toc-width: 236px;
        --main-width: 800px;
        --article-side-pad: 44px;
        --page-bottom-height: 86px;
        --page-top-padding: 30px;
        --menu-button-size: 24px;
        --menu-width: 238px;
        --nav-content-space: 10px;
        --image-float-width: 200px;
        --image-float-height: 220px;
        --gallery-image-width: 340px;
        --yt-gallery-grid: 180px;
        --square-gallery-grid: 180px;
        --profile-grid-col: 220px;
        --plug-icon-size: 18px;
        /* font-family */
        --ff-ui: Segoe UI, Nirmala UI, system-ui, sans-serif;
        --ff-article: Georgia Pro Digits, Georgia, sans-serif;
        --ff-heading: Lora, Georgia Pro, sans-serif;
        --ff-table: Roboto, sans-serif;
        --ff-smaller: var(--ff-ui);
        --ff-monospace: Consolas, monospace;
        --ff-mdash: Ubuntu, var(--ff-ui);
        --ff-cite: Tahoma, Arial, sans-serif;
        --ff-lb-top-left: Trebuchet MS, Nirmala UI, Segoe UI, system-ui, sans-serif;
        --ff-lb-caption: Roboto, sans-serif;
        /* font-size */
        --fs-ui: 14px; /* root font-size, inherited by nav and menu */
        --fs-article: 1.1rem;
        --fs-blockquote: 1.075rem;
        --fs-table: 1.05rem;
        --fs-smaller: 1rem;
        --fs-top-heading: 2.5em;
        --fs-h1: 2em;
        --fs-h2: 1.5em;
        --fs-h3: 1.25em;
        --fs-h4: 1.0625em;
        --fs-cite: 0.85em;
        /* colors */
        --page-bg: #f8f8f8;
        --header-bg: #fff;
        --nav-bg: #333;
        --nav-border: #404040;
        --nav-color: #808080;
        --c3-bg: #fff;
        --c-white: #fff;
        --grey-1: #101010;
        --grey-2: #242424;
        --grey-3: #323232; /* main text */
        --grey-5: #535353; /* blockquote, figcaption */
        --grey-8: #858585;
        --grey-9: #959595;
        --grey-a: #a4a4a4; /* borders, hr */
        --grey-c: #cfcfcf;
        --grey-e: #e2e2e2;
        --grey-f: #f9f9f9; /* code, quote, figure bg color */
        --blockquote-accent: #999;
        --link-color: #36b;
        --selection-color: #333333;
        --selection-bg: #cddffb;
        --codeblock-mark: #eee3bd;
        --c-code-red: #a66;
        --c-code-grey: #808080;
        --c-code-green: #5b845b;
        --c-code-purple: #856597;
        --c-code-blue: #475fa8;
        --c-code-orange: #ae7223;
        --c-light-blue-bg: #deebff;
        --c-light-green-bg: #dff2df;
        --c-light-red-bg: #fdd;
        --c-red: #bf2c2c;
        --c-pale-yellow: #fea;
        --c-teal: #008080;
        --c-dark-blue: #284088;
        --c-blue: #425aa2;
        --c-medium-blue: #657aba;
        --c-light-blue: #9baee6;
        --c-dark-blue-bg: #2b3b55;
        /* svg colors */
        --c-github: #3c3c3c;
        --c-bluesky: #63aef9;
        --c-tumblr: #393979;
        --c-tumblr-white: #fff;
        --c-youtube: #c33c3c;
        --c-youtube-white: #fff;
        --c-twitter: #111;
        --c-discord: #6d75cc;
        --c-substack: #d9803f;
        --c-kofi: #f30;
        --c-patreon: #f92;
        /* line-height */
        --lh-ui: 1.5;
        --lh-toc: 1.25;
        --lh-article: 1.7; /* main text */
        --lh-heading: 1.3;
        --lh-table: 1.5;
        --lh-fine: 1.5;
        --lh-blockquote: 1.625;
        --lh-short-list: 1.5;
        --lh-codeblock: 1.25;
        --lh-caption: 1.4;
        --lh-footer: 1.5;
        /* letter-spacing */
        --ls-code: -0.3px;
        --fw-h1: 700;
        --fw-h2: 700;
        --fw-h3: 700;
        --fw-h4: 700;
        --checkbox-check: url("data:image/svg+xml;utf8,<svg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'><circle cx='50' cy='50' r='33' fill='%236a6a6a'/></svg>");
    }
    html.dark {
        --page-bg: #28292b;
        --c3-bg: #2f3032;
        --header-bg: #121315;
        --nav-bg: #151617;
        --nav-color: #666;
        --nav-border: #393939;
        --c-white: #333;
        --grey-2: #bbb;
        --grey-3: #a4a4a4;
        --grey-5: #909090;
        --grey-8: #707172;
        --grey-9: #606060;
        --grey-a: #555;
        --grey-c: #4e4f50;
        --grey-e: #373839;
        --grey-f: #2d2e2f;
        --link-color: #78a;
        --selection-color: #a4a4a4;
        --selection-bg: #4c4f5b;
        --codeblock-mark: #4a483e;
        --blockquote-accent: #5c6f8e;
        --c-code-red: #b06f6f;
        --c-code-green: #668266;
        --c-code-purple: #907ba6;
        --c-code-grey: #808080;
        --c-code-purple: #987ba8;
        --c-code-blue: #8798c1;
        --c-code-orange: #bd8b49;
        --c-light-blue-bg: #3a3d40;
        --c-light-green-bg: #3c483f;
        --c-light-red-bg: #4c3133;
        --c-red: #994949;
        --c-teal: #3e5959;
        --c-dark-blue: #7c93ea;
        --c-dark-blue-bg: #2c3442;
        --c-blue: #6b7fca;
        --c-pale-yellow: #55503b;
        --c-medium-blue: #5d6eae;
        --c-light-blue: #39477f;
        --c-github: #685c91;
        --c-bluesky: #5e88b3;
        --c-tumblr: #444480;
        --c-tumblr-white: #fff;
        --c-youtube: #b13a3a;
        --c-youtube-white: #e6e6e6;
        --c-twitter: #aaa;
        --c-discord: #6068bf;
        --c-substack: #bd723c;
        --checkbox-check: url("data:image/svg+xml;utf8,<svg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'><circle cx='50' cy='50' r='33' fill='%23888'/></svg>");
    }

    /* default resets that I use: */
    * { margin: 0; padding: 0; }
    sub, sup { font-size: 0.8em; }
    img { display: block; object-fit: contain; }
    ul { list-style-type: disc; }
    ul, ol { padding: 0 2.5em; }
    ol > li { padding-left: 2px; }
    td { vertical-align: top; }
    hr { border: none; height: 1px; width: 100%; }
    table { border-collapse: collapse; }
    a { color: inherit; text-decoration: none; text-underline-offset: 2px; }
    a:hover { text-decoration: underline; }
    mark { background-color: var(--c-pale-yellow); color: inherit; }
    input, select { font-family: var(--ff-ui); }

    html ::selection { background-color: var(--selection-bg); color: var(--selection-color); }
    a:target { background-color: #dfe9ff; }
    .no-select { user-select: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; }
    .text-select { -webkit-user-select: text; -moz-user-select: text; -ms-user-select: text; user-select: text; }
    .icon { object-fit: contain; background-repeat: no-repeat; background-size: contain; background-position: center; }
    .hidden { display: none !important; }

    .gap-em { display: flex; gap: 1em; } .gap-rem { display: flex; gap: 1rem; } .gap-1 { display: flex; gap: 1px; } .gap-2 { display: flex; gap: 2px; } .gap-3 { display: flex; gap: 3px; } .gap-4 { display: flex; gap: 4px; } .gap-5 { display: flex; gap: 5px; } .gap-6 { display: flex; gap: 6px; } .gap-7 { display: flex; gap: 7px; } .gap-8 { display: flex; gap: 8px; } .gap-9 { display: flex; gap: 9px; } .gap-10 { display: flex; gap: 10px; } .gap-11 { display: flex; gap: 11px; } .gap-12 { display: flex; gap: 12px; } .gap-13 { display: flex; gap: 13px; } .gap-14 { display: flex; gap: 14px; } .gap-15 { display: flex; gap: 15px; } .gap-16 { display: flex; gap: 16px; } .gap-17 { display: flex; gap: 17px; } .gap-18 { display: flex; gap: 18px; } .gap-19 { display: flex; gap: 19px; } .gap-20 { display: flex; gap: 20px; } .gap-21 { display: flex; gap: 21px; } .gap-22 { display: flex; gap: 22px; } .gap-23 { display: flex; gap: 23px; } .gap-24 { display: flex; gap: 24px; } .gap-25 { display: flex; gap: 25px; } .gap-26 { display: flex; gap: 26px; } .gap-27 { display: flex; gap: 27px; } .gap-28 { display: flex; gap: 28px; } .gap-29 { display: flex; gap: 29px; } .gap-30 { display: flex; gap: 30px; } .gap-31 { display: flex; gap: 31px; } .gap-32 { display: flex; gap: 32px; }
    .flex { display: flex; }
    .wrap { display: flex; flex-wrap: wrap; }
    .flex-end { display: flex; justify-content: flex-end; }
    .center { display: flex; justify-content: center; }
    .space-between { display: flex; justify-content: space-between; }
    .space-evenly { display: flex; justify-content: space-evenly; }
    .reverse { display: flex; flex-direction: row-reverse; }
    .column-reverse { display: flex; flex-direction: column-reverse; }
    .column { display: flex; flex-direction: column; }
    .align-center { display: flex; align-items: center; }
    .align-end { display: flex; align-items: flex-end; }
    .align-stretch { display: flex; align-items: stretch; }
    .pseudo-link { cursor: pointer; }
    .fade-out { opacity: 0; transition: opacity 0.7s 0.4s !important; }

    .flat-button { cursor: pointer; padding: 5px 7px 5px; background-color: var(--c-white); vertical-align: middle; color: var(--grey-5); border: 1px solid var(--grey-c); line-height: 1; }
    .flat-button, .flat-button *, .flat-button a { text-decoration: none !important; }
    .flat-button:hover { border-color: var(--grey-a); background-color: var(--grey-f); }
    .flat-button:active { outline: 1px solid var(--link-color); }
    .flat-button svg { vertical-align: text-bottom; }

    html:not(.layout) body { margin: 2em 5em; min-height: unset; white-space: preserve-breaks; font-family: sans-serif; font-size: 16px; line-height: 1.5; }
    html:not(.layout) .menu-line,
    html:not(.layout) .nav-wrapper { display: none; }

    html.layout { scroll-padding-top: calc(var(--nav-height) + 30px); color: var(--grey-3); font-size: var(--fs-ui); scrollbar-color: var(--grey-8) var(--grey-e); background-color: var(--page-bg); padding: 0; min-width: 350px; min-height: 100vh; line-height: var(--lh-ui); font-family: var(--ff-ui); }
    html.layout body { background-color: inherit; min-height: 100vh; }

    .main-nav, .menu { z-index: 2; }
    .lb-container { z-index: 3; }

    .main-nav { line-height: 1; display: flex; align-items: center; gap: 12px; padding: 0 1rem; height: var(--nav-height); font-family: "Trebuchet MS", "Nirmala UI", "Segoe UI", system-ui, sans-serif; background-color: var(--nav-bg); color: var(--nav-color); position: sticky; top: 0px; margin: 0 auto; }
        .main-nav .align-center { gap: 10px; }
        .page-name-display { text-overflow: ellipsis; white-space: nowrap; user-select: text; }
        .main-nav a:not(.gear-icon):hover { filter: brightness(1.25); }

        .gear-icon { text-align: center; cursor: pointer; height: var(--menu-button-size); width: calc(1.15 * var(--menu-button-size)); border: none; background-color: #0000; }
            .gear-icon svg { opacity: 0.8; }
            .gear-icon svg:hover { opacity: 0.65; }

        .hide-at-top { opacity: 0; pointer-events: none; transition: opacity 0.8s; }
        .sticky-active .hide-at-top { opacity: 1; }
        .sticky-active .to-top-button { cursor: pointer; pointer-events: auto; }

    .menu { top: var(--nav-height); right: 0; position: fixed; background-color: var(--grey-f); max-width: var(--menu-width); border: 1px solid var(--grey-a); border-top: none; padding: 1em; display: flex; flex-direction: column; gap: 2px; }
        .menu h3 { font-size: 1em; }
        .menu hr { margin: 5px 0 3px; border-bottom: 1px dotted var(--grey-8); }
        .menu select { width: 100%; height: 2em; border: 1px solid var(--grey-a); background-color: var(--c-white); color: var(--grey-3); padding: 2px 4px; }
        .menu td { vertical-align: middle; padding: 3px 0; }
        .menu td:first-child { padding-right: 1em; }
        .menu label { padding-right: 6px; cursor: pointer; }
        .menu-right { display: flex; align-items: center; justify-content: flex-end; color: var(--grey-8); }
        .menu-bottom { color: var(--grey-5); }
        .menu-checkbox { appearance: none; cursor: pointer; width: 13px; height: 13px; border: 1px solid var(--grey-8); background-color: var(--c-white); border-radius: 9px; transform: translateY(1px); background-size: cover; background-position: center; }
        .menu-checkbox:checked { background-image: var(--checkbox-check); }

    :root{
        --col-a: min-content;
        --col-b: minmax(0, 1fr);
        --col-c: clamp(0px, calc(0.2 * calc(100vw - var(--article-side-pad) - var(--article-side-pad) - var(--main-width) - var(--toc-width))), calc(0.5 * var(--main-width)));
    }
    .full-width .c1 { --col-c: 0; }
    .full-width .c3 { max-width: unset; }
    .full-width #article { max-width: unset; }

    .c1 { background-color: var(--page-bg); }
    .include-toc .c1 { display: grid; grid-template-columns: var(--col-a) var(--col-b) var(--col-c); }
            .c3 { max-width: var(--main-width); margin: 0 auto; padding: var(--page-top-padding) var(--article-side-pad) 80px; background-color: var(--c3-bg); grid-column: 2; }

    @media (hover: none) and (pointer: coarse) {
        body {
            --main-width: 100%;
            --ff-ui: 24px;
        }
    }

    @media (max-width: 1050px) {
        #toc { display: none; }
    }

                #toc {
                    grid-column: 1;
                    grid-row: 1;
                    background-color: var(--grey-e);
                    max-height: calc(100vh - var(--nav-height));
                    padding: 14px 18px 44px;
                    box-sizing: border-box;
                    position: sticky;
                    top: var(--nav-height);
                    overflow: hidden;
                    scrollbar-width: thin;
                    scrollbar-color: var(--grey-8) var(--grey-c);
                    line-height: var(--lh-toc);
                    width: var(--toc-width);
                    mask-image: linear-gradient(to bottom, black calc(100% - 20px), transparent);
                    -webkit-mask-image: linear-gradient(to bottom, black calc(100% - 20px), transparent);
                    transition: mask-image 0.2s;
                    scrollbar-gutter: stable;
                }
                    #toc.hide-mask,
                    #toc:focus-within,
                    #toc:hover { mask-image: none; }
                    #toc:hover { overflow: auto; }

                    #toc h3 { font-size: 1em; color: var(--grey-5); font-weight: 700; border-bottom: 1px solid var(--grey-a); padding-bottom: 6px; margin-bottom: 12px; }
                    #toc .toc-row a { color: var(--grey-8); }
                    #toc .toc-row a:hover { color: var(--grey-5); }
                    #toc .toc-row + .toc-row { margin-top: 12px; }
                    #toc .toc-row.h1 { padding-left: 0px; }
                    #toc .toc-row.h2 { padding-left: 15px; }
                    #toc .toc-row.h3 { padding-left: 30px; }
                    #toc .toc-row.h4 { padding-left: 45px; display: none; }
                    #toc .toc-row.th { display: none; } /* override as desired */
                    #toc .toc-row.active-heading a { color: var(--grey-3); }
                    #toc #close-toc { opacity: 0.6; stroke: var(--toc-color); padding: 2px; cursor: pointer; position: absolute; top: 1rem; right: 10px; }
                    #toc #close-toc:hover { opacity: 0.4; }

        #article { font-family: var(--ff-article); font-size: var(--fs-article); line-height: var(--lh-article); max-width: var(--main-width); }
            #article > :first-child { margin-top: 0 !important; }
            #article > h1:first-child { font-size: var(--fs-top-heading); }
            #article .article-heading { clear: both; color: var(--grey-2); margin-block: 1em var(--fs-article); line-height: var(--lh-heading); }
            #article h1 { font-size: var(--fs-h1); font-weight: var(--fw-h1); font-family: var(--ff-heading); }
            #article h2 { font-size: var(--fs-h2); font-weight: var(--fw-h2); font-family: var(--ff-heading); }
            #article h3 { font-size: var(--fs-h3); font-weight: var(--fw-h3); font-family: var(--ff-heading); }
            #article h4 { font-size: var(--fs-h4); font-weight: var(--fw-h4); font-family: inherit; }

            #article > * { margin-top: 1rem; }
            #article > p { margin-block: 1em; }
            #article .table-wrapper { margin-block: 1.2em; margin-bottom: 1.1em; font-size: var(--fs-table); font-family: var(--ff-table); line-height: var(--lh-table); }

            #article .rsquo { margin-right: 1px; }
            #article p.drop-cap::first-letter { font-size: 3em; float: left; padding: 0.15em 0.2em 0.1em }
            
            #article .text-red { color: var(--c-red); }
            
            #article figcaption { line-height: var(--lh-caption); }
            #article sup { vertical-align: super; line-height: 1; }
            #article sub { vertical-align: sub; line-height: 1; }

            #article a { color: var(--link-color); }
            #article a:hover { text-decoration: 1px solid underline currentcolor; }
            #article a.autoref { vertical-align: top; font-size: 0.85em; margin-left: 1px; }
            #article a.autoref::before { content: "\00A0"; font-size: 0.1px; }

            #article .fine { color: var(--grey-8); font-size: var(--fs-smaller); font-family: var(--ff-smaller); line-height: var(--lh-fine); }
                #article .fine ::marker,
                #article .fine * { color: inherit; font-size: inherit !important; font-family: inherit !important; }
                #article .fine a { text-decoration: 1px dotted underline var(--grey-a); }

            .rows .row { display: flex; justify-content: space-between; gap: 10px; padding: 4px 0px 2px; }

            .auto-list { padding: 0 2.5em; margin: 0; }
                .auto-list li { margin-top: 0.6em; }
                .fine .auto-list li { margin-top: 0.5em; }
                    .auto-list li.no-marker { margin-top: 0.5em; list-style-type: none; }
            .auto-list.short li { line-height: var(--lh-short-list); }

            #article ol,
            #article ul { margin-bottom: 1em; }

            #article hr { margin: 2em 0; border: none; height: 1px; width: 100%; background-color: var(--grey-c); }

            #article .mdash { margin-inline: 1px; line-height: 1; font-family: var(--ff-mdash); }

            #article code { background-color: var(--grey-e); vertical-align: baseline; line-height: 1; padding-inline: 2px; font-family: var(--ff-monospace); letter-spacing: var(--ls-code); font-size: var(--fs-smaller); white-space: pre-wrap; }
            #article code * { font-size: inherit !important; font-family: inherit !important; }
            .codeblock { background-color: var(--grey-f); white-space: pre-wrap; font-family: var(--ff-monospace); padding: 8px 10px; line-height: var(--lh-codeblock); font-size: var(--fs-smaller); border: 1px solid var(--grey-a); margin-top: 1.2em !important; }
                .codeblock mark { background-color: var(--codeblock-mark); }
                .codeblock .code-number { color: var(--c-code-orange); }
                .codeblock .code-keyword { color: var(--c-code-blue); }
                .codeblock .code-cust-keyword { color: var(--c-code-purple); }
                .codeblock .code-string *,
                .codeblock .code-string { color: var(--c-code-red); }
                .codeblock .code-comment { color: var(--c-code-green); }
                .codeblock .code-comment * { color: inherit !important; }
                .codeblock .code-macro { color: var(--c-code-grey); }
                .codeblock .code-macro * { color: inherit !important; }

            #article blockquote { font-size: var(--fs-blockquote); line-height: var(--lh-blockquote); margin-inline: 1px; padding: 0.75em 2em 0.75em 1em; border-left: 2px solid var(--blockquote-accent); color: var(--grey-5); margin-left: 0.5em; }
                #article blockquote > :first-child { margin-top: 0; }
                #article blockquote > :nth-child(n+2) { margin-top: 0.5em; }
                #article blockquote p b { color: inherit; }
                #article blockquote .attribution { text-align: right; }
            #article .auto-list blockquote { padding: 4px 14px; border-left: none; }

            .auto-table { border-collapse: collapse; }
                .auto-table br { margin-bottom: 0.5em; }
                .auto-table th,
                .auto-table td { padding: 5px 6px 4px; vertical-align: top; }

            .auto-video { background-color: var(--grey-1); }
            .auto-video video { display: block; margin-inline: auto; width: 100%; }

            .quote-expand { border: 1px solid var(--grey-a); padding: 0.5em; background-color: var(--grey-f);  }
            .quote-expand.collapsed { border-color: transparent; cursor: pointer; overflow: hidden; max-height: 3.5em; mask-image: linear-gradient(to bottom, black calc(100% - 20px), transparent); -webkit-mask-image: linear-gradient(to bottom, black calc(100% - 20px), transparent); }
                .collapse-button-container { display: flex; justify-content: flex-end; }
                    .collapse-button-container .flat-button { margin: 8px 0; background-color: var(--c-white); border: 1px solid var(--grey-a); padding: 3px 8px 4px; }
                    .collapse-button-container .flat-button:hover { background-color: var(--grey-e); }

            .yt-gallery { display: grid; grid-template-columns: repeat(auto-fit, minmax(var(--yt-gallery-grid), 1fr)); line-height: var(--lh-caption); gap: 9px 14px; }
                .yt-gallery figure { margin: 0 auto; }
                    .yt-gallery img { width: 100%; object-fit: cover; aspect-ratio: 16 / 8.8; border: 1px solid var(--grey-a); box-sizing: border-box; }
                .yt-title { padding: 5px 0; display: block; }
                .yt-date { color: var(--grey-9); }

            .image-float { margin-top: 0 !important; max-width: var(--image-float-width); clear: right; margin-bottom: 10px; margin-left: 1em; float: right; gap: 10px; display: flex; flex-direction: column; }
            .image-float.left { float: left; margin-left: 0; margin-right: 1em; }
                .image-float figure { padding: 8px; background-color: var(--grey-f); border: 1px solid var(--grey-a); }
                    .image-float figure img { box-sizing: border-box; margin: auto; border: 1px solid var(--grey-a); max-width: 100%; max-height: var(--image-float-height); }
                    .image-float figure figcaption { text-align: center; margin-top: 5px; font-family: var(--ff-ui); font-size: var(--fs-smaller); color: var(--grey-5); }

            #article img { cursor: pointer; }

            .image-span { max-width: 100%; gap: 8px; overflow: hidden; display: flex; justify-content: space-evenly; align-items: center; }
            #article .image-span + .image-span { margin-top: 8px; }
                .image-span img { width: inherit; max-width: 100%; max-height: 100%; }

            .captioned-gallery { display: flex; min-height: 200px; max-width: 100%; gap: 8px; overflow: hidden; align-items: baseline; flex-wrap: wrap; justify-content: space-evenly; }
                .captioned-gallery figure { max-width: var(--gallery-image-width); }
                    .captioned-gallery img { margin: 0 auto; box-sizing: border-box; border: 1px solid var(--grey-a); max-width: 100%; max-height: 100%; }
                    .captioned-gallery figcaption { text-align: center; padding: 3px; font-family: var(--ff-ui); color: var(--grey-5); font-size: var(--fs-smaller); }

            .square-gallery { display: grid; grid-template-columns: repeat(auto-fit, minmax(var(--square-gallery-grid), 1fr)); gap: 10px 20px; }
                .square-gallery figure { }
                    .square-gallery .img-wrapper { margin: 0 auto; height: var(--square-gallery-grid); border: 1px solid var(--grey-c); aspect-ratio: 1; display: flex; justify-content: center; align-items: center; }
                        .square-gallery img { max-width: 88%; max-height: 88%; border: 1px solid var(--grey-a); }
                    .square-gallery figcaption { text-align: center; max-width: var(--square-gallery-grid); margin: 5px; font-family: var(--ff-table); color: var(--grey-5); font-size: var(--fs-smaller); }

            .profile-grid { gap: 10px; display: grid; grid-template-columns: repeat(auto-fit, minmax(var(--profile-grid-col), 1fr)); }
                .grid-entry { border: 1px solid var(--grey-e); font-family: var(--ff-table); font-size: var(--fs-table); overflow: hidden; line-height: 1.15; padding: 10px; }
                    .profile-grid-img { border: 1px solid var(--grey-a); max-height: 68px; display: block; cursor: pointer; }
                    .entry-name { color: var(--grey-2); font-size: 16px; font-weight: 600; }
                        .entry-age { font-size: 0.9em; color: var(--grey-5); display: inline-block; }
                    .entry-title { color: var(--grey-8); font-size: 14px; margin-top: 3px; line-height: 1.3; }
                    .entry-description { margin-top: 7px; font-size: 15px; line-height: 1.4; }
                        .entry-description div + div { margin-top: 6px; }

        #page-footer { clear: both; padding-top: 2em; margin-top: 3em; color: var(--grey-8); line-height: var(--lh-footer); display: flex; flex-direction: column; border-top: 1px solid var(--grey-c); }
            #page-footer > div + div { margin-top: 1em; }

    .lb-enabled { overflow: hidden; }
    .lb-enabled .lb-container { display: flex; }
    .lb-container { color: #808080; height: 100vh; width: 100%; background-color: #000c; position: fixed; left: 0; top: 0; display: none; align-items: stretch; flex-direction: column; justify-content: space-between; }
        #lb-top-left { padding: 10px; background-color: black; font-family: var(--ff-lb-top-left); }
        .lb-wrapper { overflow: hidden; flex-grow: 1; display: flex; justify-content: center; align-items: center; }
            #lightbox { object-fit: contain; max-width: 100%; max-height: 100%; }

        .lb-bottom-panel { background-color: black; display: flex; justify-content: center; align-items: center; }
            #lb-caption { padding: 20px; margin: 0 auto; font-family: var(--ff-lb-caption); font-size: 1.1rem; max-width: var(--main-width); line-height: var(--lh-caption); }

    .page-bottom { height: var(--page-bottom-height); }



